{% extends 'base.html.twig' %}

{% block body %}
    <h1>Contraventionale creation</h1>

    {{ form_start(form) }}
    {{ form_row(form.pdf) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('contraventionale_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
